@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #dddddd;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: var(--color-primary);
}

/* body {
  background-color: #3c3a46 ;
} */

/* table {
  margin: auto;
  border-collapse: collapse;
} */

table td {
  border: 2px solid var(--color-primary);
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
}

input, button {
  color: black;
}
